.portfolio-area {
    position: relative;
    .owl-nav {
        .owl-prev {
            position: absolute;
            margin-top: 0;
            top: 50%;
            transform: translateY(-16px);
            left: 0;
            width: 40px;
            height: 40px;
            font-size: 20px;
            line-height: 0;
            background-color: $color-blue !important;
            box-shadow: 0 0 15px rgba(0, 0, 0,0.1);
            color: $color-white !important;
            border-radius: 50px;
            transition: all 0.5s;
            &:hover {
                background-color: $color-white !important;
                color: $color-blue !important;
            }
        }
        .owl-next {
            position: absolute;
            margin-top: 0;
            top: 50%;
            transform: translateY(-16px);
            right: 0;
            width: 40px;
            height: 40px;
            font-size: 20px;
            line-height: 0;
            background-color: $color-blue !important;
            box-shadow: 0 0 15px rgba(0, 0, 0,0.1);
            color: $color-white !important;
            border-radius: 50px;
            -webkit-transition: all 0.5s;
            transition: all 0.5s;
            &:hover {
                background-color: $color-white;
                color: $color-blue;
            }
        }
    }
}
.portfolio-item {
    margin-bottom: 30px;
    .portfolio-img {
        position: relative;
        a {
            display: block;
            img {
                border-radius: 10px;
            }
        }

    }
    .portfolio-tag {
        position: absolute;
        bottom: 105px;
        left: 25px;
        a {
            span {
                color: $color-white;
                background-color: $main-color;
                padding: 7px 20px;
                border-radius: 50px;
                font-size: 13px;
            }
        }
    }
    .portfolio-content {
        position: absolute;
        bottom: 25px;
        left: 25px;
        background-color: $color-white;
        padding: 15px 20px;
        border-radius: 15px;
        width: 85%;
        transition: 0.7s;
        &:hover {
            background-color: $color-blue;
        }
        &:hover h3 {
            color: $color-white;
        }
        &:hover i {
            background-color: $color-white;
            color: $color-blue;

        }
        a {
            h3 {
                font-size: 20px;
                color: $title-color;
                display: inline-block;
                margin-top: 6px;
            }
        }
        i {
            width: 35px;
            height: 35px;
            background-color: $color-blue;
            color: $color-white;
            border-radius: 50px;
            line-height: 35px;
            text-align: center;
            font-size: 24px;
            top: 16px;
            position: absolute;
            right: 15px;
        }
    }
}
.portfolio-mt {
    margin-top: 100px;
}
